.container {
    background-color: #fff;
    margin: 1.4rem auto;
    padding: 1rem;
    bottom: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 16px;
}

.separator {
    border-color: #00A7EE;
}

.leaflet-container {
  height: calc(100vh - 5rem);
  width: 100vw;
  max-width: 100%;
  max-height: 100%;
}